<div class="inner">
    <header class="major">
    <h2 class="section-heading">Accomodations!</h2>
    <p >We will book a hotel block in downtown Denver and we’ll be running transportation to and from the ceremony venue.
        We’d love for you to take advantage of these locations for you to enjoy the party.</p>

        <p>The Hotel Monaco at 1717 Champa Street for $209 per night.</p>
        <p>Aloft Downtown Denver at 800 15th Street $159 per night for a single and $179 per night for a double. Please mention the Keyser/Trichter wedding when making your reservations.
        
            <!-- <h4 class="hotel-name"><strong>TODO:</strong> Our Hotel</a></h4>
       <p>($X per night for double queen)<br />
        Please mention the Keyser/Trichter wedding block or use the link below in order to receive the discounted price.  Rooms are available on Friday and Saturday night.
        <br />
        <br />
        </p>
    <a href="" target="_blank" class="btn btn-default-primary btn-xl page-scroll"><strong>TODO:</strong>Book Here</a> -->
    </header>
</div>
